body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: blue;
    width: 100%;
    height: 120px;
}

nav {
    background-color: pink;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
}

nav div {
    background-color: brown;
    flex: 1;
    width: 100%;
    height: 40px;
    margin: 10px;
}

#banner-main {
    /* background-color: black; */
    height: 340px;
    width: 100%;
    margin-top: 10px;
    display: flex;
}

#banner-main div {
    background-color: rgb(15, 104, 3);
    height: 340px;
    flex: 1;
}

#banner-left {
    margin-right: 5px;
}

#banner-right {
    margin-left: 5px;
}

footer {
    background-color: rgb(255, 2, 2);
    height: 60px;
    width: 100%;
    margin-top: 10px;
    display: flex;
}

#footer-left {
    background-color: chocolate;
    /* height: 50px; */
    width: 40%;
    margin: 10px;
}
#footer-right {
    background-color: chocolate;
    width: 40%;
    margin: 10px;
}

#footer-small-right {
    background-color: chocolate;
    width: 20%;
    margin: 10px;
}