body {
    padding: 0%;
    margin: 0%;
}

header{
    width: 100%;
    height: 200px;
    background-color: orange;
}

#menu {
    width: 100%;    
    height: 50px;
    background-color: #fd6600;
}

#container-banners{
    width: 100%;
    min-height: 300px;
    background-color: #cccccc93;
    display: flex;
}

#container-banners div{
    flex: 1;
    background-color: #666666;
    margin: 20px;

}
